body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ed92ff;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.text {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.groupOfButtons {
    margin-top: 20px;
    margin-left: 180px;
} 



.button {
    background-color: #b6dcff;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e3b2ff;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}